<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .row {
            margin:0px auto;
        }
    </style>
</head>
<body>
     {% include 'total/menu.html' %}
     <div style="height:30px"></div>
     <div class="container-fluid">
         <div class="row">
             <h3>믿고 보는 맛집 리스트</h3>
             {% for food in fd1 %}
                <div class="col-md-2">
                    <div class="thumbnail">
                      <a href="/total/food_list/?cno={{food.no}}">
                        <img src="{{food.poster}}" title="{{food.subject}}" style="width:100%">
                        <div class="caption">
                          <p>{{food.title}}</p>
                        </div>
                      </a>
                    </div>
                  </div>
             {% endfor %}
         </div>
         <div class="row">
             <h3>지역별 인기 맛집</h3>
             {% for food in fd2 %}
                <div class="col-md-2">
                    <div class="thumbnail">
                      <a href="/total/food_list/?cno={{food.no}}">
                        <img src="{{food.poster}}" title="{{food.subject}}" style="width:100%">
                        <div class="caption">
                          <p>{{food.title}}</p>
                        </div>
                      </a>
                    </div>
                  </div>
             {% endfor %}
         </div>
         <div class="row">
             <h3>메뉴별 인기 맛집</h3>
             {% for food in fd3 %}
                <div class="col-md-2">
                    <div class="thumbnail">
                      <a href="/total/food_list/?cno={{food.no}}">
                        <img src="{{food.poster}}" title="{{food.subject}}" style="width:100%">
                        <div class="caption">
                          <p>{{food.title}}</p>
                        </div>
                      </a>
                    </div>
                  </div>
             {% endfor %}
         </div>
     </div>
</body>
</html>