<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
    .row{
      width:700px;
      margin:0px auto
    }
    h3{
      text-align:center;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <h3>회원 목록</h3>
        <table class="table">
            <tr>
                <td><a href="{% url 'add' %}" class="btn btn-sm btn-danger">등록</a></td>
            </tr>
        </table>
        <table class="table table-hover">
            <thead>
            <tr class="danger">
                <th class="text-center">번호</th>
                <th class="text-center">이름</th>
                <th class="text-center">성별</th>
                <th class="text-center">주소</th>
                <th class="text-center">전화</th>
                <th class="text-center">비고</th>
            </tr>
            </thead>
            <tbody>
             {% for vo in object_list %}
             <tr>
                 <td class="text-center">{{forloop.counter}}</td>
                 <td class="text-center"><a href="{% url 'detail' pk=vo.id %}">{{vo.name}}</a></td>
                 <td class="text-center">{{vo.sex}}</td>
                 <td class="text-center">{{vo.addr}}</td>
                 <td class="text-center">{{vo.tel}}</td>
                 <td class="text-center">
                     <a href="{% url 'update' pk=vo.id %}" class="btn btn-sm btn-primary">수정</a>
                     <a href="{% url 'delete' pk=vo.id %}" class="btn btn-sm btn-primary">삭제</a>
                 </td>
             </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>