<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
    .row{
      width:700px;
      margin:0px auto
    }
    h3{
      text-align:center;
    }
    </style>
</head>
<body>
<div class="container">
  <div class="row">
    <h3>회원 등록</h3>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-sm btn-success" value="submit">
      <input type="button" class="btn btn-sm btn-danger" value="cancle" onclick="javascript:history.back()">
    </form>
  </div>
</div>
</body>
</html>