<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
    .row{
      width:700px;
      margin:0px auto
    }
    h3{
      text-align:center;
    }
    </style>
</head>
<body>
<div class="container">
  <div class="row">
    <h3>삭제하기</h3>
    <table class="table">
      <tr>
        <td>
          <form action="" method="post">
            {% csrf_token %}
            <div class="alert alert-danger">"{{object.name}}" 님을 삭제할까요?</div>
            <input type="submit" class="btn btn-sm btn-danger" value="삭제">
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>