<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
    .row{
      width:700px;
      margin:0px auto
    }
    h3{
      text-align:center;
    }
    </style>
</head>
<body>
<div class="container">
  <div class="row">
    <h3>상세 보기</h3>
    <table class="table">
      <tr>
        <th class="text-right">이름</th>
        <th>{{object.name}}</th>
      </tr>
      <tr>
        <th class="text-right">성별</th>
        <th>{{object.sex}}</th>
      </tr>
      <tr>
        <th class="text-right">주소</th>
        <th>{{object.addr}}</th>
      </tr>
      <tr>
        <th class="text-right">전화</th>
        <th>{{object.tel}}</th>
      </tr>
      <tr>
        <td class="text-right" colspan="2">
          <a href="{% url 'list'%}" class="btn btn-sm btn-danger">목록</a>
        </td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>