<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
        .row{
           margin:0px auto;
           width:900px;
        }
    </style>
</head>
<body>
   <div style="height:50px"></div>
   <div class="container">
       <div class="row">
           <table class="table">
               <tr>
                   <td class="text-center">
                       <img src="{{rd.poster}}" width="100%">
                   </td>
               </tr>
               <tr>
                   <td class="text-center">
                       {{rd.title}}
                   </td>
               </tr>
               <tr>
                   <td class="text-center">
                       {{rd.content}}
                   </td>
               </tr>
           </table>
           <table class="table">
               <tr>
                   <td class="text-center">{{rd.info1}}</td>
                   <td class="text-center">{{rd.info2}}</td>
                   <td class="text-center">{{rd.info3}}</td>
               </tr>
               <!--<tr>
                   <td colspan="3">
                       {{rd.food_make}}
                   </td>
               </tr>-->
               <tr>
                   <td colspan="3">
                       <img src="{{rd.chef_poster}}" width="50" height="50">
                   </td>
               </tr>
               <tr>
                   <td colspan="3">
                       {{rd.chef}}({{rd.chef_info}})
                   </td>
               </tr>
               <tr>
                   <td colspan="3">
                       <a href="../recipe_list/?page=1" class="btn btn-sm btn-danger">목록</a>
                   </td>
               </tr>
           </table>
       </div>
   </div>
</body>
</html>