<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
        .row{
           margin:0px auto;
           width:700px;
        }
        h1{
           text-align:center
        }
    </style>
</head>
<body>
   <div style="height:50px"></div>
   <div class="container">
       <h1>내용보기</h1>
       <table class="table">
           <tr>
               <th class="text-center success" width="20%">번호</th>
               <td class="text-center" width="30%">{{no}}</td>
               <th class="text-center success" width="20%">작성일</th>
               <td class="text-center" width="30%">{{regdate}}</td>
           </tr>
           <tr>
               <th class="text-center success" width="20%">이름</th>
               <td class="text-center" width="30%">{{name}}</td>
               <th class="text-center success" width="20%">조회수</th>
               <td class="text-center" width="30%">{{hit}}</td>
           </tr>
           <tr>
               <th class="text-center success" width="20%">제목</th>
               <td class="text-center" colspan="3">{{subject}}</td>
           </tr>
           <tr>
               <td colspan="4" valign="top" class="text-left" height="200">
                  <pre style="white-space:pre-wrap;border:none;background-color:white">{{content}}</pre>
               </td>
           </tr>

           <tr>
               <td colspan="4" class="text-right">
                   <a href="../update/?no={{no}}" class="btn btn-sm btn-danger">수정</a>
                   <a href="../delete/?no={{no}}" class="btn btn-sm btn-info">삭제</a>
                   <a href="../?page=1" class="btn btn-sm btn-warning">목록</a>
               </td>
           </tr>

       </table>
   </div>
</body>
</html>