<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style type="text/css">
        .row{
          margin:0px auto
        }
    </style>
</head>
<body>
    <div style="height:30px"></div>
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <td width="30%" class="text-center" rowspan="3">
                        <img src={{md.poster}} width="100%">
                    </td>
                    <td width="70%">{{md.title}}</td>
                </tr>
                <tr>
                    <td width="70%">{{md.genre}}</td>
                </tr>
                <tr>
                    <td width="70%">{{md.grade}}</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>