<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
        .row {
           margin:0px auto;
           width:800px
        }
        h1{
          text-align:center
        }
    </style>
</head>
<body>
    <div style="height:50px"></div>
    <div class="container">
        <h1>MariaDB 게시판(상세보기)</h1>
        <div class="row">
            <table class="table">
                <tr>
                    <th width="20%" class="text=center success">번호</th>
                    <td width="30%" class="text-center">{{object.id}}</td>
                    <th width="20%" class="text=center success">작성일</th>
                    <td width="30%" class="text-center">{{object.regdate|date:'Y-m-d'}}</td>
                </tr>
                <tr>
                    <th width="20%" class="text=center success">이름</th>
                    <td width="30%" class="text-center">{{object.name}}</td>
                    <th width="20%" class="text=center success">조회수</th>
                    <td width="30%" class="text-center">{{object.hit}}</td>
                </tr>
                <tr>
                    <th width="20%" class="text=center success">제목</th>
                    <td colspan="3" class="text-left">{{object.subject}}</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-left" height="200">{{object.content}}</td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right">
                        <a href="{% url 'update' pk=object.id %}" class="btn btn-sm btn-primary">수정</a>
                        <a href="{% url 'delete' pk=object.id %}" class="btn btn-sm btn-primary">삭제</a>
                        <a href="{% url 'list' %}" class="btn btn-sm btn-primary">목록</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>